
<nav th:fragment="menu_superior" xmlns:th="http://www.thymeleaf.org"
     class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-4">


    <div class="container-fluid">
        <a class="navbar-brand fs-3 fw-bold">
            RECURSOS HUMANOS - GTICS
        </a>
    </div>


    <div class="container-fluid" >
        <ul class="nav me-auto">
            <li class="nav-item"><a class="nav-link text-secondary fw-bold" th:href="@{/empleados}">Empleados</a></li>
            <li class="nav-item"><a class="nav-link text-secondary fw-bold" th:href="@{/historial}">Historial</a></li>
            <li class="nav-item"><a class="nav-link text-secondary fw-bold" th:href="@{/reportes}">Reportes</a></li>
        </ul>

    </div>
</nav>
